name: Publish Images
on:
  push:
    branches:
      - 'main'
jobs:
  publish-typescript-node-image:
    name: Push typescript-node Image to GitHub Packages
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout the Repo
        uses: actions/checkout@v2
      
      - name: Login to the GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: kienle-ci
          password: ${{ secrets.CI_GITHUB_KEY }}
      
      - name: Build and Push the Docker Image
        uses: docker/build-push-action@v2
        with:
          context: ./containers/typescript-node
          push: true
          tags: ghcr.io/${{ github.repository }}/typescript-node:latest
